<%= image_tag 'about.png' %>
<div class="about-content">
  <div class="text-block">
    <h2>Как получить задание?</h2>
    <p>Зафоловь канал Lipton в Instagram или Twitter. В течение недели в ленте будут появляться наши картинки-задания,
      где будет указано, что нужно фотографировать и с каким тегом.</p>
    <p>Будь внимательным и стань первым, кто их увидит.</p>
    <p>Всего будет три хештега, по которым мы будем определять лидеров.</p>
  </div>
  <div class="text-block">
    <h2>Как стать ближе всех к победе?</h2>
    <p>Чтобы продвинуть фотографию ближе к победе, голосуй за нее сам
      и предлагай голосовать друзьям. Показать фотографию друзьям очень легко — нужно нажать на кнопку «поделиться»
      около фотки. Голосовать могут только пользователи, авторизованные через Instagram, Twitter и Facebook. Десять
      участников, которые наберут больше всех голосов, окажутся в списке лидеров. Мы выберем лучшие фотографии из всех
      работ и раздадим подарки всем десяти! Какими будут подарки?</p>
    <p>Здесь есть вся информация.</p>
  </div>
  <div class="text-block">
    <h2 class="hint">Подсказка</h2>
    <p>Не забывай, что для получения призов нужно не только вывесить фотографию с хештегом через Instagram или Twitter,
      но и авторизоваться на нашем сайте под тем же аккаунтом, с которого ты публикуешь фотографии.</p>
  </div>
  <div class="signup">
    <div>
      <%= link_to image_tag 'about_participate.png', action: :login %>
    </div>
  </div>
</div>