<div class="page-about-contest">
  <div class="icosBlock oHidden">
    <div class="icoWrap fLeft mw265 s-ico1">
      <div class="ico1">
        <h2>Авторизуйся</h2>

        <p>на&nbsp;сайте&nbsp;при&nbsp;помощи<br/>социальной сети</p>
      </div>
    </div>

    <div class="icoWrap fLeft mw320 s-ico2">
      <div class="ico2">
        <h2>Получи&nbsp;задание</h2>

        <p>Задания&nbsp;обновляются&nbsp;каждые<br/>3&nbsp;дня,&nbsp;успей&nbsp;выполнить<br/>его&nbsp;в&nbsp;срок!</p>
      </div>
    </div>
    <div class="icoWrap fLeft oHidden mw305 s-ico3">

      <div class="ico3 oHidden">
        <h2>Загрузи фото</h2>
        <p>в свой Инстаграм или<br/>Твиттер, отметив его<br/>специальным хештэгом</p>
      </div>
    </div>
    <div class="arrow1"></div>
    <div class="arrow2"></div>
  </div>
  <div class="txtBlock">
    <h2 class='title'>Как получить задание?</h2>

    <p class='d'>Зафоловь канал Lipton в Instagram или Twitter. В течение недели <br/>
      в ленте будут появляться наши картинки-задания, где будет <br/>
      указано, что нужно фотографировать и с каким тегом. <br/>
      Будь внимательным и стань первым, кто их увидит. <br/>
      Всего будет три хештега, по которым <br/> мы будем определять лидеров.</p>

    <p class='m'>Зафоловь канал Lipton в Instagram <br/> или Twitter. В течение недели <br/>
      в ленте будут появляться наши <br/> картинки&nbsp;-&nbsp;задания,&nbsp;где&nbsp;будет&nbsp;указано,&nbsp;что <br/>
      нужно&nbsp;фотографировать&nbsp;и&nbsp;с&nbsp;каким&nbsp;тегом. <br/>
      Будь внимательным и стань первым, кто их увидит. <br/>
      Всего будет три хештега, по которым <br/> мы будем определять лидеров.</p>

    <div class="divitor"></div>
    <h2>Как стать ближе всех <br/> к победе?</h2>

    <p class='d'>Чтобы продвинуть фотографию ближе к победе, голосуй за нее сам <br/>
      и предлагай голосовать друзьям. Показать фотографию друзьям очень <br/>
      легко — нужно нажать на кнопку «поделиться» около фотки. Голосовать <br/>
      могут только пользователи, авторизованные через Instagram, Twitter <br/>
      и Facebook. Десять участников, которые наберут больше всех голосов, <br/>
      окажутся в списке лидеров. Мы выберем лучшие фотографии из всех <br/>
      работ и раздадим подарки всем десяти! Какими будут подарки? <br/> Здесь есть вся информация.</p>

    <p class='m'>Чтобы продвинуть фотографию ближе <br/>
      к победе, голосуй за нее сам<br/>
      и&nbsp;предлагай&nbsp;голосовать&nbsp;друзьям.&nbsp;Показать<br/>
      фотографию&nbsp;друзьям&nbsp;очень&nbsp;легко&nbsp;— <br/>
      нужно нажать&nbsp;на&nbsp;кнопку&nbsp;«поделиться»<br/>
      &nbsp;около&nbsp;фотки. <br/> Голосовать могут только пользователи, <br/>
      авторизованные через Instagram, Twitter<br/>
      и Facebook. Десять участников, которые <br/>
      наберут больше всех голосов,
      окажутся в списке лидеров. Мы выберем лучшие фотографии из всех
      работ и раздадим подарки всем десяти! Какими будут подарки?
      Здесь есть вся информация.</p>

    <div class="divitor"></div>
    <h2 class="withBg"><span>Подсказка</span></h2>

    <p class='d'>Не забывай, что для получения призов нужно не только вывесить фотографию с хештегом через Instagram или
      Twitter, но и авторизоваться на нашем сайте под тем же аккаунтом, с которого ты публикуешь фотографии.</p>

    <p class='m'>Не забывай, что для получения призов нужно не только вывесить фотографию с хештегом через Instagram или
      Twitter, но и авторизоваться на нашем сайте под тем же аккаунтом, с которого ты публикуешь фотографии.</p>
  </div>
  <div class="participate-button">
    <%= link_to "Участвовать в конкурсе", {action: :view} %>
  </div>
</div>
</div>
</div>