<div class="page-product gifts">
  <div class="title-block">
    <h3>Призы</h3>
  </div>
  <div class="tasks-top"></div>
  <div class="tasks gift-list" style="height: 515px;">
    <div class="gift">
      <div class="prize-image" style="background-image: url('/assets/prize1.png');"></div>
      <div class="info-text">
      <h4>Первое место</h4>
      <p>Цифровой зеркальный фотоаппарат! Для тех, кто хочет снимать фото и видео на «зеркалочку» и баловаться
        с выдержкой и диафрагмой!</p>
      </div>
    </div>
    <div class="gift">
      <div class="prize-image" style="background-image: url('/assets/prize2.png');"></div>
      <div class="info-text">
      <h4><b>Второе место</b></h4>
      <p>Инста-камера с двумя упаковками кассет. Она обязательно понравится любителям времен, когда мы с трепетом поднимали моментальный снимок
        к люстре, чтобы он быстрее проявился.</p>
    </div>
    </div>
    <div class="gift">
      <div class="prize-image" style="background-image: url('/assets/prize3.png'); background-position: center center;"></div>
      <div class="info-text">
      <h4>Остальные победители</h4>
      <p>Остальные победители, попавшие
        в десятку лидеров по результатам недели, получат наборы из трех вкусов листового чая Lipton в премиальной упаковке.</p>
    </div>
    </div>
  </div>
  <div class="tasks-bottom"></div>
  <div class="containerWithPadding about_product clearfix">
    <div class="anotherTxtBlock txtBlock oHidden" style="background: #f8f8f8;">
        <div class="fintiflushka participate-button">
          <a href="">Участвовать в конкурсе</a>
        </div>
    </div>
  </div>
</div>