<div class="ad-carousel">
  <div class="carousel-content">
    <div class="carousel-block">
      <div class="content"> в Instagram!
      </div>
    </div>
    <div class="carousel-block">
      <div class="content"> в Instagram!
      </div>
    </div>
    <div class="carousel-block">
      <div class="content"> в Instagram!
      </div>
    </div>
  </div>
</div>
<div class="tasks-top"></div>
<div class="tasks">
  <ul class="task-menu">
    <li class="task">Задание I</li>
    <li class="task">Задание II</li>
    <li class="task">Задание III</li>
    <div class="lavalamp"></div>
  </ul>
  <div class="tasks-carousel-holder">
    <div class="tasks-carousel">
      <div class="tasks-carousel-content">
        <div class="task">
          <img src="assets/sample-task-pic.png">
        </div>
        <div class="task">
          <img src="assets/sample-task-pic.png"></div>
        <div class="task">
          <img src="assets/sample-task-pic.png"></div>
      </div>
    </div>
  </div>
</div>
<div class="tasks-bottom"></div>

<div class="images">
  <div class="order">
    <div class="order-select">
      <a href="#" class="selected">
        <p>По дате</p>
      </a>
      <a href="#">
        <p>По рейтингу</p>
      </a>
    </div>
  </div>
<div class="main-content">
  <%= render 'content' %>
</div>
</div>
