<div class="containerWithPadding about_product clearfix">
    <div class="icosBlock oHidden">
        <img src="img/bigIco.png" alt="" />
    </div>
    <div class="txtBlock oHidden" style="background: #f8f8f8;">
        <div class="fintiflushka oHidden">
            <h2>Кругосветное путешествие с Lipton</h2>
            <p>Чтобы отправиться в кругосветное путешествие, теперь Вам не нужно паковать чемоданы и бронировать билеты – Lipton сделал это за Вас. Ограниченная коллекция ароматов, собранная в уникальной упаковке в виде че</p>
            <p>Проберитесь сквозь непроходимые джунгли, чтобы отыскать сокровище острова Ява – зеленый чай Lipton Green Gunpowder, чьи свернутые особым образом листочки, напоминают драгоценный зеленый жемчуг.</p>
            <p>И, напоследок, отправьтесь в загадочное Марокко за лепестками розы, которые в сочетании с крупными чайными листьями, корицей и роскошным ароматом ванильной орхидеи составляют изысканный купаж черного чая Lipton Black Rose.</p>
            <p>Откройте для себя мир чая с эксклюзивной коллекцией листового чая Lipton.</p>
        </div>
    </div>
    <div class="anotherTxtBlock txtBlock oHidden" style="background: #f8f8f8;">
        <div class="fintiflushka participate-button">
            <%= link_to "Участвовать в конкурсе", {action: :view} %>
        </div>
    </div>
</div>
