(function(){
    $('.overlay').html('<div class="background"><a href></a></div><%= escape_javascript render partial: 'post', object: @post %>');
    $('.overlay > .popup').css('display', 'block');
    p = $('.overlay > .popup').position();
    $('.overlay > .popup').css('position', 'absolute');
    $('.overlay > .popup').css('top', p.top+'px');
    $('.background').on('click', function() {$('.overlay').html('');});
})()