// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url("body_background.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  min-width: 640px;
  overflow-x: hidden;
  z-index: 1;
}
.navbar {
  background-image: url("header_background.png");
  background-size: contain;
}
.navbar-inner {
  background-image: url("header_background.png");
  background-size: contain;
  height: 63px;
  border: 0;
  .nav .active a {
    background: none;
    box-shadow: none;
    color: inherit;
  }
  .navbar-content-holder {
    height: 63px;
    background-image: url("header_background.png");
    background-size: contain;
    max-width: 1024px;
    min-width: 640px;
    margin: 0 auto;
    .brand {
      padding: 6px 0;
      margin: 0;
      margin-left: -2px;
    }
    ul {
      border-left: 1px solid #ffa914;
      float: right;
      margin-right: 0;
      li {
        min-width: 123px;
        height: 48px;
        border-left: 1px solid rgba(255, 255, 255, 0.23);
        border-right: 1px solid #ffa914;
        padding-top: 12px;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: bold;
        color: #934c00;
        a, a:visited {
          color: #934c00;
        }
      }
      & .this {
        background: url('header_background_selected.png');
        background-size: 100% 100%;
      }
    }
  }
}

.spacer {
  height: 86px;
  width: 100%;
}

.wrapper {
  background: #f8f8f8;
  max-width: 1024px;
  min-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  .ad-carousel {
    position: relative;
    max-width: 1024px;
    min-width: 640px;
    overflow: hidden;
    background: black;
    background-image: -webkit-radial-gradient(50% 50%, ellipse farthest-corner, #222 0%, black 80%);
    background-image: -moz-radial-gradient(50% 50%, ellipse farthest-corner, #222 0%, black 80%);
    background-image: -ms-radial-gradient(50% 50%, ellipse farthest-corner, #222 0%, black 80%);
    background-image: -o-radial-gradient(50% 50%, ellipse farthest-corner, #222 0%, black 80%);
    background-image: radial-gradient(50% 50%, ellipse farthest-corner, #222 0%, black 80%);
    height: 313px;
    .carousel-content {
      width: 302%;
      position: relative;
      left: 0px;
      transition: left 2s;
      -moz-transition: left 2s; /* Firefox 4 */
      -webkit-transition: left 2s; /* Safari and Chrome */
      -o-transition: left 2s; /* Opera */
      .carousel-block {
        width: 33.3%;
        height: 313px;
        display: inline-block;
        .content {
          margin: 92px auto;
          width: 587px;
          .image{
            display: inline-block;
            vertical-align: bottom;
          }
          .text {
            padding-left: 40px;
            vertical-align: top;
            width: 347px;
            display: inline-block;
            color: white;
            h3 {
              font-size: 27px;
            }
            p {
              font-size: 15px;
            }
            a {
              padding-top: 20px;
              display: inline;
              zoom: 1;
              display: inline-block;
              height: 62px;
              line-height: 56px;
              text-align: center;
              width: 182px;
              background-image: url('instagram_subscribe.png');
              background-size: 100% auto;
              background-repeat: no-repeat;
              background-position: 0 0;
              text-align: center;
              font-family: 'PT Sans';
              color: #9A6200;
              font-size: 18px;
              text-decoration: none;
              font-weight: bold;
              text-shadow: 0 1px 1px #FFE79D;
            }
          }
        }
      }
    }
    z-index: 5;
  }
  .tasks-top {
    margin: 0 -10px -10px;
    width: auto;
    height: 0;
    border-bottom: 10px solid #90391a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: -10px;
    z-index: 3;
  }
  .tasks {
    background: #ffbf00;
    height: 313px;
    margin: 0 -10px;
    width: auto;
    ul.task-menu {
      height: 47px;
      width: 365px;
      margin: 0 auto;
      clear: both;
      li {
        float: left;
        list-style: none;
        color: #976000;
        font-weight: bold;
        font-size: 16px;
        padding: 19px 16px;
        line-height: 100%;
        width: 89px;
        cursor: pointer;
      }
      .lavalamp {
        background: url("lavalamp.png") no-repeat scroll 0 0 transparent;
        background-size: contain;
        transition-duration: 1s;
        -moz-transition-duration: 1s; /* Firefox 4 */
        -webkit-transition-duration: 1s; /* Safari and Chrome */
        -o-transition-duration: 1s; /* Opera */
        height: 63px;
        width: 109px;
        position: relative;
        top: 3px;
        padding-left: 1px;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        z-index: 4;
      }
    }
    .task-control {
      display: none;
    }
    .tasks-carousel-holder {
      width: 100%;
      .tasks-carousel {
        background: white;
        background: linear-gradient(bottom, #e9e9e9, #ffffff);
        background: -moz-linear-gradient(bottom, #e9e9e9, #ffffff);
        background: -webkit-linear-gradient(bottom, #e9e9e9, #ffffff);
        background: -o-linear-gradient(bottom, #e9e9e9, #ffffff);
        background: -ms-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ffffff,endColorstr=#e9e9e9,GradientType=0); zoom: 1;
        height: 250px;
        margin: 0 7px;
        overflow: hidden;
        position: relative;
        left: 0;
        clear: both;
        .tasks-carousel-content {
          width: 305%;
          position: relative;
          left: 0;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
          .task {
            display: inline-block;
            width: 33%;
            .image {
              height: 260px;
              width: 272px;
              display: inline-block;
              img {
                max-height: 260px;
                vertical-align: bottom;
              }
            }
            .task-block {
              padding-left: 11px;
              width: 470px;
              display: inline-block;
              vertical-align: top;
              h3 {
                text-transform: capitalize;
                font-size: 28px;
                margin-top: 19px;
              }
              p {
                font-size: 17px;
                line-height: 145%;
              }
            }
            .social{
              display: inline-block;
              vertical-align: top;
              padding-top: 29px;
              padding-left: 63px;
              width: 188px;
              a{
                display: inline;
                zoom: 1;
                display: inline-block;
                height: 62px;
                line-height: 56px;
                text-align: center;
                width: 185px;
                background-image: url('upload_photo_button.png');
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: 0 -124px;
                text-align: center;
                font-family: 'PT Sans';
                color: #9A6200;
                font-size: 18px;
                text-decoration: none;
                font-weight: bold;
                text-shadow: 0 1px 1px #FFE79D;
                margin: 0 -5px;
                &:hover {
                  background-position: 0 -62px;
                }
                &:active {
                  background-position: 0 0px;
                }
              }
              .alternatives {
                padding: 0 2px;
                border-bottom: #e4e4e4 1 px solid;
                width: 100%;
                font-size: 12px;
              }
              .time-left {
                padding: 0 2px;
                border-top: #f7f7f7 1px solid;
                width: 100%;
                font-size: 12px;
                font-weight: bold;
                .timeout {
                  font-weight: normal;
                  width: 66px;
                  height: 36px;
                  margin-left: 50px;
                  line-height: 35px;
                  font-size: 14px;
                  text-align: center;
                  background: url("timeout_background.png");
                  &:first-letter {
                    font-weight: bold;
                    font-size: 120%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .tasks-bottom {
    margin: 10px -10px 0;
    width: auto;
    height: 0;
    border-top: 10px solid #90391a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: -10px;
    z-index: 3;
  }

  .images {
    position: relative;
    z-index: 5;
    margin-top: -20px;
    background: #f8f8f8;
    .order {
      .order-select {
        width: 210px;
        height: 41px;
        margin: 0 auto;
        background: #ffffff;
        background: linear-gradient(top, #e9e9e9, #ffffff);
        background: -moz-linear-gradient(top, #e9e9e9, #ffffff);
        background: -webkit-linear-gradient(top, #e9e9e9, #ffffff);
        background: -o-linear-gradient(top, #e9e9e9, #ffffff);
        background: -ms-linear-gradient(top, #e9e9e9, #ffffff);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#e9e9e9,endColorstr=#ffffff,GradientType=0); zoom: 1;
        border: 1px #ffffff;
        border-radius: 5px;
        box-shadow: #000000;
        padding: 7px 7px 5px;
        box-shadow: inset 0 1px 3px gray, inset 0 -10px 5px white;
        border-bottom: #ffffff 1px solid;
        a, a:visited {
          text-decoration: none;
          color: #934c00;
          width: 105px;
          height: 35px;
          float: left;
          list-style: none;
          background: linear-gradient(top, #ffe430, #ffbb10);
          background: -moz-linear-gradient(top, #ffe430, #ffbb10);
          background: -webkit-linear-gradient(top, #ffe430, #ffbb10);
          background: -o-linear-gradient(top, #ffe430, #ffbb10);
          background: -ms-linear-gradient(top, #ffe430, #ffbb10);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ffe430,endColorstr=#ffbb10,GradientType=0); zoom: 1;
          text-shadow: 0 1px 0 white;
          font-size: 12px;
          text-align: center;
          border-bottom: 3px #df7500 solid;
          p {
            padding-top: 7px;
          }
          &:first-child {
            border-radius: 5px 0 0 5px;
          }
          &:last-child {
            border-radius: 0 5px 5px 0;
          }
        img {
          padding-right: 7px;
        }
        }
        & .selected {
          pointer-events: none;
          background: linear-gradient(bottom, #ffe430, #ffbb10);
          background: -moz-linear-gradient(bottom, #ffe430, #ffbb10);
          background: -webkit-linear-gradient(bottom, #ffe430, #ffbb10);
          background: -o-linear-gradient(bottom, #ffe430, #ffbb10);
          background: -ms-linear-gradient(bottom, #ffe430, #ffbb10);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ffbb10,endColorstr=#ffe430,GradientType=0); zoom: 1;
          width: 104px;
          height: 36px;
          border-bottom: 2px #df7500 solid;
          &:first-child {
            border-right: 1px solid #e4a217;
          }
          &:last-child {
            border-left: 1px solid #e4a217;
          }
        }
      }
      padding-top: 20px;
      padding-bottom: 17px;
      width: 100%;
    }
    @media screen and (min-width: 1024px) {
      .image-holder-holder {
        width: 24.7%;
        display: inline-block;
        margin: 0 auto;
      }
    }
    @media screen and (min-width: 663px) and (max-width: 1024px) {
      .image-holder-holder {
        width: 33%;
        display: inline-block;
        margin: 0 auto;
      }
    }
    @media screen and (max-width: 663px) {
      .image-holder-holder {
        width: 100%;
        display: inline-block;
        margin: 0 auto;
      }
    }
    .image-holder-holder {
      height: 281px;
      vertical-align: top;
      .image-holder {
        vertical-align: top;
        margin-top: 40px;
        width: 221px;
        height: 221px;
        border: 6px #ffffff solid;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: white;
        .image-cropper {
          position: relative;
          width: 221px;
          height: 221px;
          float: none;
          overflow: hidden;
          margin-bottom: 15px;
          img {
            width: 100%;
          }
        }
        .image-data {
          position: relative;
          width: 100%;
          height: 20px;
          display: none;
          text-align: center;

          img {
            float: left;
            height: 20px;
            vertical-align: top;
            &:first-child {
              width: 20px;
              border-radius: 10px;
              float: left;
            }
            &:last-child {
              float: right;
            }
          }
        }
        & .liked p:before {
          color: red;
        }
        &:hover .image-data {
          display: block;
        }
        &:hover {
          height: 256px;
          border-width: 10px;
          margin-top: -4px;
        }
        transition: 0.2s;
        -moz-transition: 0.2s; /* Firefox 4 */
        -webkit-transition: 0.2s; /* Safari and Chrome */
        -o-transition: 0.2s; /* Opera */
      }
      .popup {
        display: none;
        width: 612px;
        height: 740px;
        padding: 18px 18px 0;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -306px;
        margin-top: -371px;
        background: repeat-x url("popup-bottom-background.png") bottom white;
        z-index: 25;
        font: "PT Sans";
        .info {
          .author {
            float: left;
            height: 45px;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 45px;
            p.name {
              font-weight: bold;
              font-size: 20px;
            }
            p.hashtag {
              font-size: 14px;
              color: #21b8ff;
              line-height: 0;
            }
          }
          .activity {
            .social {
              float: right;
              position: relative;
              .button {
                float: right;
              }
              .share {
                margin-top: 45px;
                background: #f8f8f8;
                border: #ccc 1px solid;
                box-shadow: #d3d3d3 0px 1px 1px;
                border-radius: 3px;
                width: 154px;
                position: absolute;
                right: 0;
                display: none;
                p {
                  height: 22px;
                  padding: 10px;
                  border-top: #ffffff 1px solid;
                  border-bottom: #dedede 1px solid;
                  margin: 0;
                  background-repeat: no-repeat;
                  background-position: 93% center;
                  background-size: 22px 15px;
                  &:first-child {
                    border-top: none;
                    background-image: url("twitter.png");
                  }
                  &:last-child {
                    border-bottom: none;
                    background-image: url("facebook.png");
                  }
                }
              }
              &:hover .share {
                display: block;
              }
            }
            .like {
              float: right;

            }
            .button {
              height: 16px;
              border: #ccc 1px solid;
              border-radius: 3px;
              margin-left: 8px;
              padding: 7px 20px 13px;
              font-weight: bold;
              font-size: 14px;
              color: #737373;
              background: #f5f5f5;
              background: linear-gradient(bottom, #e9e9e9, #ffffff);
              background: -moz-linear-gradient(bottom, #e9e9e9, #ffffff);
              background: -webkit-linear-gradient(bottom, #e9e9e9, #ffffff);
              background: -o-linear-gradient(bottom, #e9e9e9, #ffffff);
              background: -ms-linear-gradient(bottom, #e9e9e9, #ffffff);
              filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ffffff,endColorstr=#e9e9e9,GradientType=0); zoom: 1;
              box-shadow: #d3d3d3 0px 1px 4px;
            }
          }
        }
        .image {
          width: 612px;
          height: 612px;
          vertical-align: middle;
          overflow: hidden;
          background-size: cover;
        }
        .text {
          margin-top: 38px;
          height: 32px;
          background-size: contain;
          background-position: right center;
          background-repeat: no-repeat;
          padding-right: 40px;
          .social {
            float: right;
          }
        }
      }
      .likes-counter {
        z-index: 12;
        position: relative;
        margin-bottom: -20px;
        float: right;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 20px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        p {
          text-align: right;
          width: 35px;
          color: white;
          font-weight: bold;
        }
        p:before {
          content: '❤';
          font-family: arial;
          color: white;
          float: left;
          padding-left: 5px;
        }
        &.liked p:before {
          color: red;
        }
      }
    }
    .preloader {
      width: 180px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }

  .about-content {
    padding-top: 42px;
    .text-block {
      padding-top: 42px;
      padding-bottom: 42px;
      background: url("about_separator.png") no-repeat center top;
      text-align: center;
      width: 100%;
      h2 {
        margin: auto;
      }
      & .hint {
        width: 200px;
        background: url("about-hint-background.png");
        background-size: 100% 100%;
      }
      p {
        max-width: 570px;
        margin: 0 auto;
      }
    }
    .signup {
      width: auto;
      margin: 0 auto;
      padding-top: 30px;
      div {
        width: 245px;
        height: 62px;
        margin: 0 auto;
      }
      padding-bottom: 70px;
    }
  }
}
