// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  position: relative;
  top: 50px;
  .image_holder {
    padding-left: 50%;
    margin-left: -306px;
  }
}