@font-face {
    font-family: 'flowbold';
    src: url('/fonts/flow_b-webfont.eot');
    src: url('/fonts/flow_b-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/flow_b-webfont.woff') format('woff'),
    url('/fonts/flow_b-webfont.ttf') format('truetype'),
    url('/fonts/flow_b-webfont.svg#flowbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.profile-top {
    width: 100%;
    position: relative;
    height: 315px;
    border-bottom: 1px solid #ffd866;
    margin-bottom : 7px;
}

.profile-top .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.profile-top .info {
    text-align: center;
    position: relative;
    z-index: 1;
    top: 20%;
}
.profile-top .info img {
    padding: 5px;
    box-shadow: 0 3px 3px #998102;
    background: #fff;
}
.profile-top .info .name {
    font-family: 'PT Sans',sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF, 0 -1px 0px #5c3000;
    color: #aa5800;
    font-size: 24px;
    margin: 20px 0 0 0;
}
.profile-top .info .city {
    font-family: 'PT Sans',sans-serif;
    text-shadow: 0 1px 1px #FFFFFF;
    color: #b46a01;
    font-size: 18px;
    margin: 7px 0 0 0;
    height: 25px;
    line-height: 25px;
}
.profile-top .info .city b {
    background: url('profile_maplabel_ico.png') right 0 no-repeat;
    display : inline;
    zoom : 1;
    display: inline-block;
    height: 24px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 8px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .profile-top .info .city b {
        background: url('profile_maplabel_ico.png') 0 0 no-repeat;
        background-size: cover;
    }
}
.profile-top .line {
    position: absolute;
    width: 100%;
    height: 2px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    left: 0;
    background: url('profile_top_line.png') center 0 no-repeat;
    z-index: 1;
}
.profile-top  .line.top {
    top: 44px;
}
.profile-top  .line.bottom {
    bottom: 32px;
}
.profile-top:after {
    content: ".";
    height: 7px;
    width: 100%;
    background: #ffbf00;
    position: absolute;
    left: 0;
    bottom: -8px;
    z-index: 1;
    text-indent: -10000px;
}

.profile-content {
    font-family: 'PT Sans',sans-serif;
    padding-bottom: 50px;
}
.profile-content  .include-socnet {
    padding-top: 30px;
    position: relative;
}
.profile-content  .include-socnet:after {
    content: ".";
    height: 2px;
    width: 100%;
    background: url('profile_socnets_line.png') center 0 no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -10000px;
    overflow : hidden;
}

.profile-content  .include-socnet p {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.w-button {
    display : inline;
    zoom : 1;
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 47px;
    line-height: 47px;
    text-decoration: none;
    border-radius: 7px;
}
body .w-button:active {
    height: 46px;
    margin-top: 2px;
    border-width: 3px;
}
.w-button span {
    font-size: 24px;
    color: #fff;
    text-shadow: 0 1px 1px #444;
    display : inline;
    zoom : 1;
    display: inline-block;
    margin-left: 49px;

    height: 47px;
    line-height: 45px;
    font-weight: bold;
    position: relative;

    width: 136px;
    text-align: center;
}
.w-button span:after {
    content: ".";
    height: 45px;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-indent: -10px;
    overflow: hidden;
}
.w-button:after {
    content: ".";
    position: absolute;
    z-index: 1;
    text-indent: -100px;
    overflow: hidden;
    background-image: url('w_button_cos_net_icons.png');
}
.w-button.instagram {
    background: #cfb590;
    background: -webkit-gradient(linear, top, #ddcbb2, #cfb590 70%);
    background: -webkit-linear-gradient(top, #ddcbb2, #cfb590 70%);
    background: -o-linear-gradient(top, #ddcbb2, #cfb590 70%);
    background: -ms-linear-gradient(top, #ddcbb2, #cfb590 70%);
    background: linear-gradient(top, #ddcbb2, #cfb590 70%);
    background: -moz-linear-gradient(top, #ddcbb2, #cfb590 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ddcbb2,endColorstr=#cfb590,GradientType=0);

    border-bottom: 4px solid #8b785b;
}
.w-button.instagram:hover {
    background: #d5ba95;
    background: -webkit-gradient(linear, top, #e2cfb5, #d5ba95 70%);
    background: -webkit-linear-gradient(top, #e2cfb5, #d5ba95 70%);
    background: -o-linear-gradient(top, #e2cfb5, #d5ba95 70%);
    background: -ms-linear-gradient(top, #e2cfb5, #d5ba95 70%);
    background: linear-gradient(top, #e2cfb5, #d5ba95 70%);
    background: -moz-linear-gradient(top, #e2cfb5, #d5ba95 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#e2cfb5,endColorstr=#d5ba95,GradientType=0);
}
.w-button.instagram:active {
    background: #cfb590;
    background: -webkit-gradient(linear, top, #cfb590, #ddcbb1 70%);
    background: -webkit-linear-gradient(top, #cfb590, #ddcbb1 70%);
    background: -o-linear-gradient(top, #cfb590, #ddcbb1 70%);
    background: -ms-linear-gradient(top, #cfb590, #ddcbb1 70%);
    background: linear-gradient(top, #cfb590, #ddcbb1 70%);
    background: -moz-linear-gradient(top, #cfb590, #ddcbb1 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#cfb590,endColorstr=#ddcbb1,GradientType=0);
}
.w-button.instagram span:after {
    background: url('w_button_cos_net_border.png') 0 0;
}
.w-button.instagram:after {
    width: 25px;
    height: 25px;
    left: 14px;
    top: 11px;
    background-position: -50px 0;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .w-button.instagram:after {
        width: 30px;
        height: 30px;
        left: 12px;
        top: 9px;
        background-position: 0 0;
        background-size: 50px;
    }
}
.w-button.twitter {
    background: #16a3d7;
    background: -webkit-gradient(linear, top, #6ed5fc, #16a3d7 70%);
    background: -webkit-linear-gradient(top, #6ed5fc, #16a3d7 70%);
    background: -o-linear-gradient(top, #6ed5fc, #16a3d7 70%);
    background: -ms-linear-gradient(top, #6ed5fc, #16a3d7 70%);
    background: linear-gradient(top, #6ed5fc, #16a3d7 70%);
    background: -moz-linear-gradient(top, #6ed5fc, #16a3d7 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#6ed5fc,endColorstr=#16a3d7,GradientType=0);

    border-bottom: 4px solid #12698e;
}
.w-button.twitter:hover {
    background: #18a9da;
    background: -webkit-gradient(linear, top, #70d8fc, #18a9da 70%);
    background: -webkit-linear-gradient(top, #70d8fc, #18a9da 70%);
    background: -o-linear-gradient(top, #70d8fc, #18a9da 70%);
    background: -ms-linear-gradient(top, #70d8fc, #18a9da 70%);
    background: linear-gradient(top, #70d8fc, #18a9da 70%);
    background: -moz-linear-gradient(top, #70d8fc, #18a9da 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#70d8fc,endColorstr=#18a9da,GradientType=0);
}
.w-button.twitter:active {
    background: #15a2d6;
    background: -webkit-gradient(linear, top, #15a2d6, #2ec2f8 70%);
    background: -webkit-linear-gradient(top, #15a2d6, #2ec2f8 70%);
    background: -o-linear-gradient(top, #15a2d6, #2ec2f8 70%);
    background: -ms-linear-gradient(top, #15a2d6, #2ec2f8 70%);
    background: linear-gradient(top, #15a2d6, #2ec2f8 70%);
    background: -moz-linear-gradient(top, #15a2d6, #2ec2f8 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#15a2d6,endColorstr=#2ec2f8,GradientType=0);
}
.w-button.twitter span:after {
    background: url('w_button_cos_net_border.png') -2px 0;
}
.w-button.twitter:after {
    width: 28px;
    height: 25px;
    left: 14px;
    top: 11px;
    background-position: -55px -53px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .w-button.twitter:after {
        width: 30px;
        height: 30px;
        left: 12px;
        top: 9px;
        background-position: 0 -30px;
        background-size: 50px;
    }
}
.w-button.facebook {
    background: #32609e;
    background: -webkit-gradient(linear, top, #5582be, #32609e 70%);
    background: -webkit-linear-gradient(top, #5582be, #32609e 70%);
    background: -o-linear-gradient(top, #5582be, #32609e 70%);
    background: -ms-linear-gradient(top, #5582be, #32609e 70%);
    background: linear-gradient(top, #5582be, #32609e 70%);
    background: -moz-linear-gradient(top, #5582be, #32609e 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#5582be,endColorstr=#32609e,GradientType=0);

    border-bottom: 4px solid #204a82;
}
.w-button.facebook:hover {
    background: #3565a3;
    background: -webkit-gradient(linear, top, #5887c2, #3565a3 70%);
    background: -webkit-linear-gradient(top, #5887c2, #3565a3 70%);
    background: -o-linear-gradient(top, #5887c2, #3565a3 70%);
    background: -ms-linear-gradient(top, #5887c2, #3565a3 70%);
    background: linear-gradient(top, #5887c2, #3565a3 70%);
    background: -moz-linear-gradient(top, #5887c2, #3565a3 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#5887c2,endColorstr=#3565a3,GradientType=0);
}
.w-button.facebook:active {
    background: #325f9e;
    background: -webkit-gradient(linear, top, #325f9e, #5582be 70%);
    background: -webkit-linear-gradient(top, #325f9e, #5582be 70%);
    background: -o-linear-gradient(top, #325f9e, #5582be 70%);
    background: -ms-linear-gradient(top, #325f9e, #5582be 70%);
    background: linear-gradient(top, #325f9e, #5582be 70%);
    background: -moz-linear-gradient(top, #325f9e, #5582be 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#325f9e,endColorstr=#5582be,GradientType=0);
}
.w-button.facebook:after {
    width: 28px;
    height: 29px;
    left: 14px;
    top: 11px;
    background-position: -49px -100px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .w-button.facebook:after {
        width: 30px;
        height: 30px;
        left: 12px;
        top: 9px;
        background-position: 0 -60px;
        background-size: 50px;
    }
}

.w-button.facebook span:after {
    background: url('w_button_cos_net_border.png') -4px 0;
}

.profile-content  .include-socnet .buttons {
    padding-bottom: 28px;
}
.profile-content  .include-socnet .buttons p {
    margin-bottom: 8px;
    padding: 4px;
    border-top: 1px solid #d8d8d8;
    width: 185px;
    border-radius: 8px;

    background: -webkit-gradient(linear, top, #e8e8e8, #fff);
    background: -webkit-linear-gradient(top, #e8e8e8, #fff);
    background: -o-linear-gradient(top, #e8e8e8, #fff);
    background: -ms-linear-gradient(top, #e8e8e8, #fff);
    background: linear-gradient(top, #e8e8e8, #fff);
    background: -moz-linear-gradient(top, #e8e8e8, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#e8e8e8,endColorstr=#fff,GradientType=0);
}

.profile-content .images {
    padding-top: 26px;
    margin-top: 0;
}

.wrapper {
    position: relative;
}

.auth-block {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 313px;
    background: url('profile_top.png') 0 0;
    background-size: cover;
    text-align: center;
}
.auth-block .title {
    font-family: 'PT Sans',sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF, 0 -1px 0px #5c3000;
    color: #aa5800;
    font-size: 24px;
    margin: 21px 0 0 0;
    background: url('profile_top_line.png') center bottom no-repeat;
    padding-bottom: 12px;
}
.auth-block .buttons {
    margin: 13px 0 0 0;
    position: relative;
}
.auth-block .buttons p {
    margin-bottom: 13px;
}
.auth-block .facebook-notice {
    font-family: 'flowbold' "PT Sans";
    font-size: 18px;
    color: #fff;
    width: 270px;
    position: absolute;
    text-align: left;
    left: 50%;
    margin-left: -435px;
    top: 5px;
}
.auth-block .note {
    font-family: 'PT Sans',sans-serif;
    text-shadow: 0 1px 1px #FFFFFF;
    color: #aa5800;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
}

.w-control-close {
    border: none;
    width: 13px;
    height: 13px;
    background: url('control_button_close.png') transparent no-repeat;
}
.w-control-close:hover {
    background-position: -25px 0;
}
.w-control-close:active {
    background-position: -50px 0;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .w-control-close {
        background: url('control_button_close_2x.png') transparent no-repeat;
        background-size: auto 100%;
    }
    .w-control-close:hover {
        background-position: -13px 0;
    }
    .w-control-close:active {
        background-position: -26px 0;
    }
}

.auth-block  .w-control-close {
    position: absolute;
    right: 11px;
    top: 11px;
}